<<<<<<< HEAD
=======
// @use "saas:math";

//Mixins
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min !=0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints)==null, '', '#{$name}');
}

// Responsive mixins
@mixin media-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media(min-width: $min) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-down($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $current: map-get($breakpoints, $name);
  $current-max: $current - .02px;

  @if $min {
    @media (max-width: $current-max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);
  $current-upper: map-get($breakpoints, $upper);
  $current-upper-max: $current-upper - .02px;

  @if $min !=null {
    @media (min-width: $min) and (max-width: $current-upper-max) {
      @content;
    }
  }

  @else if $min==null {
    @include media-down($upper, $breakpoints) {
      @content;
    }
  }
}

//Fonts
//Monserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2');
  font-weight: 900;
  font-style: normal;
}

//Libre Baskerville
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/LibreBaskerville-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/LibreBaskerville-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

// Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

a img {
  border: none;
}

article,
footer,
header,
main,
nav,
section {
  display: block;
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

img {
  max-width: 100%;
}

a {
  color: initial;
  text-decoration: none;
}

select {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

//Variables
//Fonts
$font-montserrat: 'Montserrat';
$font-libreBaskerville: 'Libre Baskerville';
//Mixin screen sizes breakpoints
$grid-breakpoints: ("xxs": 360px,
  "xs": 576px,
  "s":768px,
  "m":992px,
  "l": 1024px,
  "l2": 1150px,
  "xl": 1280px,
  "xxl": 1400px);

header {
  font-family: $font-libreBaskerville;
  font-weight: 500;
  position: absolute;
  height: 100vh;
  background-color: #BECFBC;
  z-index: 28;
  border-bottom-right-radius: 30px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;

  .logo {
    @include media-up(l) {
      img {
        width: 150px;
        height: auto;
      }
    }
  }

  .burger-btn {
    margin-top: 30px;

    &:hover {
      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(3057%) hue-rotate(246deg) brightness(112%) contrast(89%);
      }
    }
  }

  .burger-menu {
    .search {
      form {
        background-color: #e8e8e8;
        border-radius: 30px;
        padding: 5px 10px;
        box-shadow: -2px -2px 4px -1px#f9f9f9, 2px 3px 4px -1px #00000085;
      }
    }
  }

}

//Hero Shot
.hero-shot {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;

  .hero-content {
    width: auto;
  }

  #bg-rectangle,
  #group-1,
  #group-2,
  #free-book,
  #wherever,
  #vector {
    position: absolute;
    z-index: 1;
  }

  #bg-rectangle {
    top: 0;
    right: 0;
    height: auto;
    top: 15px;
    right: 10px;
  }

  #group-1 {
    top: 220px;
    right: 10px;
  }

  #group-2 {
    left: 20px;
    top: 400px;
  }

  #free-book {
    top: 150px;
    left: 240px;
  }

  #wherever {
    top: 230px;
    left: 320px;
  }

  #vector {
    top: 30px;
    right: 30px;
    transition: transform 0.5s;

    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}


//Simona Section
.simona-section {
  $text-color: #61072B;
  $background-color: #254379D9;
  $hover-text-color: #E4CCFF;
  $hover-background-color: #00000096;
  $font-montserrat: $font-montserrat;
  $font-libreBaskerville: $font-libreBaskerville;
  box-sizing: border-box;


  .section-title {
    text-align: center;
    height: 75px;
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 50px;
    color: $text-color;
    line-height: 75px;
    border-top: 2118px;
    border-left: 470px;
    text-transform: uppercase;
  }


  .container {
    background-color: $background-color;
    border-radius: 30px 30px 150px 30px;
    max-width: 1210px;
    padding: 30px;
    width: 100%;
    display: flex;
    margin: 0 auto;

    .image-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .logo-partner {
        position: relative;

        .hover-text {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;
          top: 0;
          left: 0;
          padding: 15px;
          text-align: center;
          background-color: #000000d1;
          opacity: 0;
          cursor: pointer;
          transition: opacity .5s ease-in-out;

          p {
            font-family: $font-montserrat;
            font-size: 22px;
            font-weight: 600;
            color: $hover-text-color;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        &:hover {
          .hover-text {
            opacity: 1;
            transition: opacity .5s ease-in-out;
          }
        }
      }
    }

  }



  .image-container h1 {
    font-family: $font-montserrat;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    line-height: 33px;
    text-transform: uppercase;
    color: #E4CCFF;

    &:hover {
      opacity: 59%;

    }
  }

}

.reviews-section {
  text-align: center;
  padding: 2rem;

  .section-title {
    margin: 0 auto 5rem;
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #254379;
  }

  .slider-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
    max-width: 1210px;
    overflow-x: auto;
    margin: 0 auto;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
    -ms-overflow-style: none;
    height: 460px;


  }

  .slider-container::-webkit-scrollbar {
    display: none;
  }

  .review-card {
    background-color: #254379D9;
    color: #e4ccff;
    border-radius: 30px;
    min-width: 331px;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 1px solid #C796FF;


    img {
      margin: 0 auto;
      margin-top: 11px;

    }

    p {
      font-family: $font-montserrat;
      margin: 50px 37px;
      font-size: 1rem;
      line-height: 1.6;
      color: #E4CCFF;
      opacity: 0.9;
    }

    .review-name {
      color: #BDE3FF;
      display: block;
      margin-top: -49px;
    }
  }
}
>>>>>>> main
