.variant1 {
	justify-content: center;
	overflow: hidden;
	scroll-behavior: smooth;
	list-style: none;
	flex-wrap: nowrap;
	color: rgb(84, 44, 122);
	// display: flex;
	display: flex;
	align-self: flex-start;

	#img-1 {
		position: relative;
		z-index: 5;
		left: 100px;
	 top: 5px;
		height: 590px !important;
		width: 320px;
		#i1 {
			width: 320px;
			height: 540px;
		}

		&:hover .hover-part img {
			opacity: 1;
			width: 40px;
		}

		&:hover .hover-part2 p {
			display: block;
			font-size: 23px;
			width: 320px;
			bottom: 47px;
			transition: all 0.1s ease-in;
		}

	}

	#img-2 {
		position: relative;
		z-index: 4;
		left: 60px;
		top: 110px;
		height: 400px;

		&:hover .hover-part img {
			opacity: 1;
		}

		&:hover .hover-part2 p {
			display: block;
		}
	}

	#img-3 {
		position: relative;
		z-index: 3;
		top: 80px;
		width: 260px;
		// bottom: 200px;
		height: 100px ;
		height: 100%;
#i3 {
height: 400px;
}
&:hover .hover-part img {
opacity: 1;
}

&:hover .hover-part2 p {
display: block;
}
	}

	#img-4 {
		position: relative;
		z-index: 2;
		right: 60px;
		top: 50px;
		height: 400px;

		&:hover .hover-part img {
			opacity: 1;
		}

		&:hover .hover-part2 p {
			display: block;
		}
	}

	#img-5 {
		position: relative;
		z-index: 1;
		right: 100px;
		top: 20px;
		height: 400px;

		&:hover .hover-part img {
			opacity: 1;
		}

		&:hover .hover-part2 p {
			display: block;
		}
	}

	.hover-part {
		position: absolute;
		z-index: 4;
		right: 4px;
		margin: 10px 10px;
		top: 4px;


		img {
			opacity: 0.01;
			border-radius: 10px;
			transition: all 0.2s ease-in;

		}
	}

	.hover-part2 {
		position: absolute;
		// z-index: 5;

		p {
			opacity: 1;
			display: none ;
			font-family: $font-libreBaskerville;
			font-weight: 600;
			position: relative;
			padding: 10px;
			color: $hover-text-color;
			font-size: 18px;
			z-index: 5;
			bottom: 40px;
			width: 260px;
			background-color: #61072B;
			border-radius: 0 0 30px 30px;
			text-align: center;
			transition: all 0.2s ease-in;
		}
	}
}
.slide-circle {
	margin: 30px 0 20px;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	position: relative;
	bottom: 2px;
	justify-items: end;
	justify-content: center;
	flex-wrap: nowrap;

	li {
		top: 100px;
		// bottom: 0;
		border-radius: 50%;
		justify-content: center;
		margin: 10px;
		height: 1.5rem;
		background-color: rgb(190, 188, 190);
		padding: 1px;
		border-style: solid;
		width: 1.5rem;

		&:hover,
		:focus {
			opacity: 1;
			background-color: rgb(159, 158, 158);
			cursor: pointer;
			border-style: double;
			width: 2rem;
			height: 2rem;
			border-width: 1.5cap;
			border-color: #4c0b19;
			transition: opacity 100ms;
		}
	}
}